# NÃO coloque chaves reais neste arquivo.
# Copie para .env somente quando for configurar o backend.

MERCADOPAGO_ACCESS_TOKEN=

# Chave secreta dos Webhooks do Mercado Pago
MERCADOPAGO_WEBHOOK_SECRET=

STORE_URL=http://localhost:3000
PORT=3000
